body {
    background: rgb(160, 159, 159);
}
.container {
    width: 90%;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Fascinate, serif;
    font-style: italic;
}