body {
    background: rgb(160, 159, 159);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Fascinate, serif;
    font-style: italic;
}

nav {
    background: rgb(237, 74, 101);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 80;
    cursor: pointer;
}
.search input {
    padding: 10px 95px 10px 5px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 80;
}
.search-btn {
    background: rgb(37, 37, 37);
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 80;
    padding: 10px 40px;
}
main {
    display: flex;
}
.article {
    background: white;
    padding: 10px;
    flex-basis: 74%;
}