body {
    background: rgb(160, 159, 159);
}
.container {
    width: 90%;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Fascinate, serif;
    font-style: italic;
}

nav {
    background: rgb(237, 74, 101);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 80;
    cursor: pointer;
}
.search input {
    padding: 10px 55px 10px 2px;
}